.banner-section {
  background-color: #f6f2ff;
  padding: 10px 10px;
}
.banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 90px;
}

.banner-img {
  height: 660px;
  width: 400px;
  border-radius: 35.15217590332031px;
}
.text {
  text-align: right;
}

.text-1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 0;
  text-align: right;
  color: #240d57;
}
.text-2 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  text-align: right;
  background: linear-gradient(90deg, #8456ec 24.2%, #e87bf8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.text-3 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  text-align: right;
  color: #240d57;
  line-height: 0;
}
.paragraph-text {
  width: 521px;
  height: 56px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #4f4f4f;
}
.btn-section {
  text-align: right;
}
.event-btn {
  width: 320px;
  height: 55px;
  left: calc(50% - 320px / 2 + 436px);
  top: 622px;

  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  border-radius: 10px;
  margin-left: auto;
  color: #fff;
  border: none;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.create-btn {
  display: none;
}

@media only screen and (max-width: 834px) {
  .banner {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    align-items: center;
  }
  .banner-left {
    order: 1;
  }
  .banner-text {
    order: 0;
  }
  .text-1 {
    text-align: center;
  }
  .text-2 {
    text-align: center;
  }
  .text-3 {
    text-align: center;
  }
  .paragraph-text {
    text-align: center;
  }
  .event-btn {
    display: none;
  }
  .create-btn {
    display: block;
    margin: 40px 35px;
  }
  .banner-img {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 575px) {
  .banner-img {
    width: 165.63px;
    height: 292px;
    border-radius: 35.15217590332031px;
    margin: 0 auto;
  }
  .text-1 {
    font-weight: 700;
    font-size: 36px;
  }
  .text-2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 38px;
  }
  .text-3 {
    font-weight: 700;
    font-size: 36px;
  }
  .paragraph-text {
    width: 321px;
    height: 36px;
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
  .banner-img1 {
    text-align: center;
  }

  .event-btn {
    width: 200px;
    height: 50px;
    left: calc(50% - 320px / 2 + 436px);
    top: 622px;

    background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
    border-radius: 10px;
    margin-left: auto;
    color: #fff;
    border: none;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    padding: 0 10px;
  }
  .create-btn {
    display: block;
    margin: 17px 29px;
  }
}
